.sg-layout-block(ng-class='{"selected" : paginator.$index === $index}')
    img(ng-src='{{ paginator.getThumbUrl(layout) }}'
    ng-click="paginator.handleLayoutClick($index)"
    ng-dblclick="paginator.showInGallery()"
    hm-swipeup="paginator.showInGallery()"
    ng-class='paginator.getThumbClass(layout)')
    sg-rating.text-center(linked-object='layout' ng-show='paginator.filters.currentClient.mode === "byLayout"')
    .text-center(ng-show='paginator.filters.currentClient.mode === "byRater"'
    style='font-size: 20px')
        i.glyphicon.glyphicon-star.sg-gold-i
        | {{ layout.compareValue }}
    .sg-layoutname.text-center {{ layout.name }}