.sg-layout-controls.text-center
    //- Assign
    i.fa.fa-stack.fa-lg.sg-layout-control(ng-click='toolbar.actions.assignDoer(toolbar.layout)'
    ng-show='toolbar.isAssignVisible()'
    title='Назначить исполнителя')
        .fa-stack-2x.sg-shadowed-text.fa-square-o.sg-blue-i
        .fa-stack-1x.sg-shadowed-text.fa-user.sg-blue-i
    //- ReAssign
    i.fa.fa-stack.fa-lg.sg-layout-control(ng-click='toolbar.actions.assignDoer(toolbar.layout)'
    ng-show='toolbar.isReAssignVisible()'
    title='Назначить другого исполнителя')
        .fa-stack-2x.sg-shadowed-text.fa-square-o.sg-blue-i
        .fa-stack-1x.sg-shadowed-text.fa-user.sg-red-i
    //- Accept
    i.fa.fa-stack.fa-lg.sg-layout-control(ng-click='toolbar.actions.acceptJob(toolbar.layout)'
    ng-show='toolbar.isAcceptVisible()'
    title='Принять работу')
        .fa-stack-2x.fa-check-square-o.sg-silver-i.sg-shadowed-text
    //- Approve
    i.fa.fa-stack.fa-lg.sg-layout-control(ng-click='toolbar.actions.approveJob(toolbar.layout)'
    ng-show='toolbar.isApproveVisible()'
    title='Одобрить макет')
        .fa-stack-2x.fa-check-square-o.sg-gold-i.sg-shadowed-text
    //- Revert
    i.fa.fa-stack.fa-lg.sg-layout-control(ng-click='toolbar.actions.revertGood(toolbar.layout)'
    ng-show='toolbar.isRevertVisible()'
    title='Вернуть на доработку дизайнеру')
        .fa-stack-2x.sg-shadowed-text.fa-square-o.sg-blue-i
        .fa-stack-1x.sg-shadowed-text.fa-reply.sg-red-i
    //- Edit
    i.fa.fa-stack.fa-lg.sg-layout-control(ng-click='toolbar.actions.editLayout(toolbar.layout)'
    ng-show='toolbar.isEditVisible()'
    title='Редактировать')
        .fa-pencil-square-o.fa-stack-2x.sg-green-i.sg-shadowed-text
    //- Upload
    i.fa.fa-stack.fa-lg.sg-layout-control(ng-click='toolbar.actions.uploadFiles(toolbar.layout)'
    ng-show='toolbar.isUploadVisible()'
    title='Загрузить макет на сервер')
        .fa-upload.fa-stack-2x.sg-shadowed-text.sg-orange-i
    //- Download
    i.fa.fa-stack.fa-lg.sg-layout-control(ng-click='toolbar.actions.downloadFiles(toolbar.layout)'
    ng-show='toolbar.isDownloadVisible()'
    title='Загрузить макет с сервера')
        .fa-download.fa-stack-2x.sg-shadowed-text.sg-violet-i
    //- Remove
    i.fa.fa-stack.fa-lg.sg-layout-control(ng-click='toolbar.actions.moveToTrash(toolbar.layout)'
    ng-show='toolbar.isTrashVisible()'
    title='Удалить в корзину')
        .fa-square-o.fa-stack-2x.sg-red-i.sg-shadowed-text
        .fa-trash.fa-stack-1x.sg-red-i.sg-shadowed-text
    //- Return
    i.fa.fa-stack.fa-lg.sg-layout-control(ng-click='toolbar.actions.returnToUnrated(toolbar.layout)'
    ng-show='toolbar.isReturnVisible()'
    title='Вернуть для оценки')
        .fa-stack-2x.sg-shadowed-text.fa-square-o.sg-red-i
        .fa-stack-1x.sg-shadowed-text.fa-reply.sg-blue-i


//- Returned flag
span.sg-layout-status-flag(ng-show='toolbar.isReturnVisible()'
title='Вернуть к неоцененным')
    i.fa.fa-2x.fa-ban(ng-click='toolbar.actions.returnToUnrated(toolbar.layout)')

//- Removed flag
span.sg-layout-status-flag(ng-show='toolbar.isRestoreVisible()'
title='Восстановить из корзины')
    i.fa.fa-2x.fa-trash(ng-click='toolbar.actions.restoreFromTrash(toolbar.layout)')

//- Published flag
span.sg-layout-status-flag(ng-show='toolbar.isPublishedVisible()'
title='{{ layout.isHidden ? "Скрыть товар из видимых" : "Разместить товар в магазине" }}')
    i.fa.fa-2x(ng-click='toolbar.actions.switchShopVisibility(toolbar.layout)'
    ng-class='{"fa-eye": toolbar.layout.isPublished, "fa-eye-slash": !toolbar.layout.isPublished}')


//- Comments flag
span.sg-layout-comments(ng-show="!toolbar.isCurrent && toolbar.layout.comments.length")
    i.fa.fa-stack
        .fa-comments.fa-stack-2x
        span.sg-comments-number.fa-stack-1x {{ toolbar.layout.comments.length }}

//- Add comment button
span.sg-layout-comment-add(ng-show='toolbar.isCurrent'
ng-click='toolbar.actions.addComment(toolbar.layout)')
    i.fa.fa-stack
        i.fa.fa-stack-2x.fa-comment.sg-shadowed-text
        i.fa.fa-stack-1x.fa-plus
