.row: form(name='ForgotForm' ng-submit='vm.forgot()' novalidate)
    .col-xs-12: .controls
        p.small.text-justify Введите имя пользователя
    .col-xs-12: .input-group
        span.input-group-addon: i.fa.fa-user
        input.form-control(ng-model='vm.forgotName'
        ng-disabled='ForgotForm.forgotMail.$viewValue'
        type='string' name='forgotName')
    .col-xs-12: .controls
        p.small.text-justify
            br
            | или E-mail
    .col-xs-12: .input-group
        span.input-group-addon: i.fa.fa-envelope
        input.form-control(ng-model='vm.forgotMail'
        sg-lower-case
        ng-disabled='ForgotForm.forgotName.$viewValue'
        type='email' name='forgotMail')
    .col-xs-12: .controls
        p.small.text-justify
            br
            | На указанный при регистрации почтовый ящик будут
            | отправлены инструкции по восстановлению пароля.
    .col-xs-12
        br
        button.form-control.btn.btn-warning(type='submit'
        ng-disabled='ForgotForm.forgotName.$invalid || ForgotForm.forgotMail.$invalid || ForgotForm.$pending')
            | Сброс пароля