doctype html
html(lang=en)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Stereo.Glass auth

        include ../builddate
        link(rel='stylesheet', href='../stylesheets/vendor-auth.min.css?#{builddate}')
        link(rel='stylesheet', href='../stylesheets/custom-auth.min.css?#{builddate}')
        script(src='../scripts/vendor-auth.min.js?#{builddate}')
        script(src='../scripts/custom-auth.min.js?#{builddate}')

    body
        block content