.panel.panel-default(ng-controller='Paginator as paginator')
    br

    //- Switch mode        
    .row
        .form-group.text-center
            label.control-label Режим отображения 
            | &nbsp;&nbsp;
            .btn-group
                label.btn.btn-primary(ng-model="paginator.viewMode" btn-radio="'Rating'") 
                    i.fa.fa-star
                    |   Рейтинги
                label.btn.btn-primary(ng-model="paginator.viewMode" btn-radio="'Progress'") 
                    i.fa.fa-check-square-o
                    |   Прогресс
                label.btn.btn-primary(ng-model="paginator.viewMode" btn-radio="'Ready'") 
                    i.fa.fa-picture-o
                    |   Готовые макеты

    .row
        .col-xs-1
            | &nbsp;&nbsp;&nbsp;&nbsp;
            span.fa.fa-stack.fa-lg(ng-click="paginator.resetAll()" style="cursor:pointer")
                .fa.fa-circle-thin.fa-stack-2x.sg-red-i.sg-shadowed-text
                .fa.fa-close.fa-stack-1x.sg-red-i.sg-shadowed-text

        .col-xs-10
            //- Server filters
            include ratings/paginator-filters
        
        .cols-xs-1    
        
    //-    sg-layout-info(ng-show="paginator.currentLayoutIndex !== -1" layout="paginator.currentLayout")    
    
    .row
        //- Client filters
        .col-xs-4
            .input-group(style="padding-left: 20px")
                span.input-group-addon: i.fa.fa-search                
                input.form-control(ng-model='paginator.search.string' ng-change='paginator.search.update()'
                ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }")
        .col-xs-8
            .form-horizontal
                .form-group
                    | Показать &nbsp;
                    select.form-control-static(ng-model="paginator.filters.currentClient"
                    ng-options="opt.name for opt in paginator.filters.client")
                    select.form-control-static(ng-model="paginator.filters.currentRater"
                    ng-options="opt.user for opt in paginator.filters.raters"
                    ng-show='paginator.filters.currentClient.mode === "byRater"'
                    ng-change='paginator.filters.currentRaterFilter.value = paginator.filters.currentRater.value')
                    select.form-control-static(ng-model="paginator.filters.currentDesigner"
                    ng-options="opt.designer for opt in paginator.filters.designers"
                    ng-show='paginator.filters.currentClient.mode === "byDesigner"'
                    ng-change='paginator.filters.currentDesignerFilter.value = paginator.filters.currentDesigner.value')
                    | &nbsp;&nbsp; Найдено: 
                    |  
                    b {{ paginator.filteredLayouts.length }}
        

    //- top pagination controls
    include ratings/paginator-controls

    //- pagination
    .row: ul.sg-layout-list
        li.sg-layout.col-xs-6.col-sm-3.col-md-3.col-lg-2(current-page="paginator.currentPage"
        dir-paginate="layout in paginator.filteredLayouts = (paginator.rawLayouts | \
                filter: paginator.viewModeFilter | filter: paginator.filters.currentClient.value | \
                filter: paginator.search.filter | orderBy: paginator.filters.currentOrder.value) | \
                itemsPerPage: paginator.currentItemsPerPage")
            //- layout controls
            include ratings/layout-controls
            //- layout-block
            include ratings/layout-block

    //- bottom pagination controls
    include ratings/paginator-controls