.panel.panel-default(ng-controller='Paginator as paginator')
    br
    //- Server filters
    .row
        .col-xs-4: .form-horizontal
            .form-group
                button.btn.btn-primary.pull-right.col-xs-10(ng-click="paginator.resetAll()") Сбросить все фильтры
            .form-group
                label.col-xs-6.control-label(ng-click="paginator.reset('colors')") Цвета
                select.selectpicker(multiple data-width='50%'
                data-none-selected-text="Все" bs-select html-content='paginator.colors' selection='paginator.filters.server.colors' exec-on-change='paginator.refreshData()')
            .form-group
                label.col-xs-6.control-label(ng-click="paginator.reset('assortment')") Ассортимент
                select.selectpicker(multiple data-selectable-optgroup data-width='50%'
                data-none-selected-text="Весь" bs-select html-content='paginator.assortment' selection='paginator.filters.server.colors' exec-on-change='paginator.refreshData()')
            .form-group
                label.col-xs-6.control-label(ng-click="paginator.reset('plots')") Сюжеты
                select.selectpicker(multiple data-selectable-optgroup data-width='50%'
                data-none-selected-text="Все" bs-select html-content='paginator.plots' selection='paginator.filters.server.plots' exec-on-change='paginator.refreshData()')
            .form-group
                label.col-xs-6.control-label(ng-click="paginator.reset('countries')") Страны
                select.selectpicker(multiple data-selectable-optgroup data-width='50%'
                data-none-selected-text="Международный" bs-select html-content='paginator.countries' selection='paginator.filters.server.countries' exec-on-change='paginator.refreshData()')
            .form-group
                label.col-xs-6.control-label(ng-click="paginator.reset('authors')") Дизайнеры
                select.selectpicker(multiple data-width='50%'
                data-none-selected-text="Все" bs-select content='paginator.authors' selection='paginator.filters.server.authors' exec-on-change='paginator.refreshData()')
            .form-group
                label.col-xs-6.control-label(ng-click="resetDR()") Интервал дат
                input.col-xs-6#rate-daterange.date-picker(date-range-picker, type="text",
                ng-model="dateRange", options="dpopts")
        .col-xs-8
            .form-group
                | Показывать &nbsp;
                select.form-control-static(ng-model="paginator.filters.currentClient"
                ng-options="opt.name for opt in paginator.filters.client")
                | &nbsp;&nbsp; Найдено: {{ paginator.filteredLayouts.length }}
            sg-layout-info(ng-show="paginator.currentLayoutIndex !== -1" layout="paginator.currentLayout")

    //-
    //- top pagination controls
    //-
    include _paginationControls
    //-
    //- pagination
    //-
    .row
        ul.sg-layout-list
            li.sg-layout.col-xs-6.col-sm-3.col-md-3.col-lg-2(current-page="paginator.currentPage"
            dir-paginate="layout in paginator.filteredLayouts = (paginator.rawLayouts | filter: paginator.filters.currentClient.value | orderBy: paginator.filters.currentOrder.value) | itemsPerPage: paginator.currentItemsPerPage")
                //- layout controls
                .sg-layout-controls.text-center()
                    i.fa.fa-check-square-o.sg-blue-i.sg-shadowed-text.control24(ng-click='paginator.assignDoer(layout)'
                    ng-show='paginator.currentUser.role === "admin" && !layout.status')
                    i.fa.fa-pencil-square-o.sg-green-i.sg-shadowed-text.control24(ng-click='openEditLayoutDialog(layout)'
                    ng-show='layout.createdBy === paginator.currentUser.name || paginator.currentUser.role === "admin"')
                    i.fa.fa-remove.sg-red-i.sg-shadowed-text.control28(ng-click='paginator.confirmRemove(layout)'
                    ng-show='layout.createdBy === paginator.currentUser.name || paginator.currentUser.role === "admin"')
                .sg-layout-block(ng-class='{"selected" : paginator.$index === $index}')
                    img(ng-src='/uploads/{{layout.urlDir}}/{{layout.urlThumb}}'
                    ng-click="paginator.handleLayoutClick($index)"
                    hm-swipeup="setSelectedIndex($index); show2dModal()")
                    sg-rating.text-center(linked-object='layout' ng-show='paginator.filters.currentClient.mode === "rate"')
                    .text-center(ng-show='paginator.filters.currentClient.mode === "view"'
                    style='font-size: 20px')
                        i.glyphicon.glyphicon-star.sg-gold-i
                        | {{ layout.compareValue }}
                    .sg-layoutname.text-center {{layout.name}}
    //-
    //- bottom pagination controls
    //-
    include _paginationControls