#sgRatingsCtrl.panel.panel-default(ng-controller='sgRatingsCtrl')
    br
    .row
        .col-xs-4: .form-horizontal
            .form-group
                button.btn.btn-primary.pull-right.col-xs-10(ng-click="resetAll()") Сбросить все фильтры
            .form-group
                label.col-xs-6.control-label(ng-click="reset('#rate-colors-selector')") Цвета
                select#rate-colors-selector.selectpicker(multiple data-width='50%' data-none-selected-text="Все")
            .form-group
                label.col-xs-6.control-label(ng-click="reset('#rate-assortment-selector')") Ассортимент
                select#rate-assortment-selector.selectpicker(multiple data-selectable-optgroup data-width='50%' data-none-selected-text="Весь")
            .form-group
                label.col-xs-6.control-label(ng-click="reset('#rate-plots-selector')") Сюжеты
                select#rate-plots-selector.selectpicker(multiple data-selectable-optgroup data-width='50%' data-none-selected-text="Все")
            .form-group
                label.col-xs-6.control-label(ng-click="reset('#rate-countries-selector')") Страны
                select#rate-countries-selector.selectpicker(multiple data-selectable-optgroup data-width='50%' data-none-selected-text="Международный")
            .form-group
                label.col-xs-6.control-label(ng-click="reset('#rate-designer-selector')" data-none-selected-text="Все") Дизайнеры
                select#rate-designer-selector.selectpicker(multiple data-width='50%')
            .form-group
                label.col-xs-6.control-label(ng-click="resetDR()") Интервал дат
                input.col-xs-6#rate-daterange.date-picker(date-range-picker, type="text",
                ng-model="dateRange", options="dpopts")
        .col-xs-8
            .layout-info
                .form-group
                    select.form-control(style="width: auto; display: inline-block;" ng-model="pager.layoutFilter" ng-options="opt.name for opt in pager.layoutFilters")
                    | &nbsp; &nbsp;
                    button.btn.btn-primary(ng-click="show2dModal()" ng-class="{disabled: selectedIndex === -1}") Показать в галерее
                    | &nbsp; &nbsp;
                    //- REMOVE Button
                    if user.role === 'admin' || user.role === 'designer'
                        i.fa.fa-remove.sg-red-i.sg-shadowed-text.pull-right(style="cursor:pointer; font-size: 2em; vertical-align: middle;"
                        ng-show="pager.selectedIndex !== -1" ng-click="confirmRemove(selectedIndex)")
                .form-group
                    label.control-label(ng-bind-html="getColors()")
                    label(ng-show="pager.selectedIndex !== -1") &nbsp; &#47; &nbsp;
                    label.control-label(ng-bind="getValues('catAssortment', 'assortmentHash')")
                    label(ng-show="pager.selectedIndex !== -1") &nbsp; &#47; &nbsp;
                    label.control-label(ng-bind="getValues('catPlots', 'plotsHash')")
                    label(ng-show="pager.selectedIndex !== -1") &nbsp; &#47; &nbsp;
                    label.control-label(ng-bind="getValues('catCountries', 'countriesHash')")
                    br
                    label.control-label {{filteredLayouts[pager.selectedIndex].createdAt | date: 'short'}}
                    br
                    label.control-label(ng-show="pager.selectedIndex !== -1") Оценок: {{filteredLayouts[pager.selectedIndex].ratings.length}}
                    //-br
                    //-| {{_.pluck(filteredLayouts[pager.selectedIndex].ratings, 'assignedBy') }}
                    br
                    label.control-label(ng-show="pager.selectedIndex !== -1") Дизайнер: {{filteredLayouts[pager.selectedIndex].createdBy}}
                    .form-group
                        label.control-label Комментарий дизайнера
                        textarea#designer-layout-comment.form-control(rows='2', readonly, ng-model="filteredLayouts[pager.selectedIndex].designerComment")

    .sg-rate-paginator.text-center
        dir-pagination-controls(template-url="/templates/ratingsPagination.html" on-page-change="pager.selectedIndex = -1")
        br.hidden-lg
        span На странице
        select.form-control(ng-model="pager.ipp" ng-options="opt for opt in pager.ipps" style="display:inline-block; width: auto")
        span Сортировка
        select.form-control(ng-model="pager.layoutOrder" ng-options="opt.name for opt in pager.layoutOrders" style="display:inline-block; width: auto")

    .row
        ul.sg-layoutlist
            li.sg-layout.col-xs-6.col-sm-3.col-md-3.col-lg-2(current-page="pager.curPage"
            dir-paginate="layout in $parent.filteredLayouts = (layouts | filter: pager.layoutFilter.value | orderBy: pager.layoutOrder.value) | itemsPerPage: pager.ipp" )
                .sg-layoutblock(ng-controller='sgLayoutItemCtrl' ng-class="{ 'selected': $index == getSelectedIndex() }")
                    img(ng-src='/uploads/{{layout.urlDir}}/{{layout.urlThumb}}'
                        ng-click="$index == getSelectedIndex() ? show2dModal() : setSelectedIndex($index)"
                        hm-swipeup="setSelectedIndex($index); show2dModal()")
                    sg-rating.text-center(linked-object='layout')
                    .sg-layoutname.text-center {{layout.name}}

    .sg-rate-paginator.text-center
        dir-pagination-controls(template-url="/templates/ratingsPagination.html" on-page-change="pager.selectedIndex = -1")
        br.hidden-lg
        span На странице
        select.form-control(ng-model="pager.ipp" ng-options="opt for opt in pager.ipps" style="display:inline-block; width: auto")
        span Сортировка
        select.form-control(ng-model="pager.layoutOrder" ng-options="opt.name for opt in pager.layoutOrders" style="display:inline-block; width: auto")