doctype html
html(lang=en)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Stereo.Glass Admin Panel
        include builddate
        link(rel='stylesheet', href='../stylesheets/vendor-admin.min.css?#{builddate}')
        link(rel='stylesheet', href='../css/admin/admin.css?#{builddate}')
        script(src='../scripts/vendor-admin.min.js?#{builddate}')
        script(src='../scripts/custom-admin.min.js?#{builddate}')

    body
        block content