.sg-l2-wrapper: .sg-about-container
    .sg-about-side-panel.sg-glass-background
    .sg-about-main-panel
        ul.sg-l2-menu
            li(ng-class='about.isSelected("about-assortment") ? "selected" : ""')
                a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Ассортимент");'
                href='#/about-assortment')
            li(ng-class='about.isSelected("about-technology") ? "selected" : ""')
                a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Технология");'
                href='#/about-technology')
            li(ng-class='about.isSelected("about-video") ? "selected" : ""')
                a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Видео");'
                href='#/about-video')
            li(ng-class='about.isSelected("about-photo") ? "selected" : ""')
                a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Фото");'
                href='#/about-photo')
            li(ng-class='about.isSelected("about-documents") ? "selected" : ""')
                a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Документы");'
                href='#/about-documents')
            li(ng-class='about.isSelected("about-faq") ? "selected" : ""')
                a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Вопросы");'
                href='#/about-faq')
        .sg-about-main-body.sg-glass-background: .content
            block content
