ul
    li(ng-class='about.isSideSelected("tiles")')
        a(href='#/about/assortment/tiles'
    ng-bind='_INT("Плитка напольная, плитка настенная");')
    li(ng-class='about.isSideSelected("pannos")')
        a(href='#/about/assortment/pannos'
    ng-bind='_INT("Панно, скинали");')
    li(ng-class='about.isSideSelected("panels")')
        a(href='#/about/assortment/panels'
    ng-bind='_INT("Панели для мебельных фасадов, Вставки для шкафов купе, Стекло в межкомнатные двери");')
    li(ng-class='about.isSideSelected("ceiling")')
        a(href='#/about/assortment/ceiling'
    ng-bind='_INT("Вставки для потолков, Светильники");')
    li(ng-class='about.isSideSelected("clocks")')
        a(href='#/about/assortment/clocks'
    ng-bind='_INT("Подносы, Столешницы, Часы");')
    li(ng-class='about.isSideSelected("adverts")')
        a(href='#/about/assortment/adverts'
    ng-bind='_INT("Рекламная продукция");')
