ul.sg-l2-menu
    li(ng-class='about.isSelected("assortment")')
        a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Ассортимент");'
        href='#/about/assortment')
    li(ng-class='about.isSelected("technology") ? "selected" : ""')
        a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Технология");'
        href='#/about/technology')
    li(ng-class='about.isSelected("video")')
        a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Видео");'
        href='#/about/video')
    li(ng-class='about.isSelected("photo")')
        a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Фото");'
        href='#/about/photo')
    li(ng-class='about.isSelected("documents")')
        a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Документы");'
        href='#/about/documents')
    li(ng-class='about.isSelected("faq")')
        a.sg-glass-background(sg-blick random='3' ng-bind='_INT("Вопросы");'
        href='#/about/faq')