.sg-l2-wrapper.row
    br
    .col-xs-1.reset-column
        .reset-button: i.fa.fa-remove(ng-click='goods.resetFilters()')
    .col-xs-11.goods-filters
        .bss-container: bootstrap-select(multiple
        title='{{_INT("Товар");}}'
        data='goods.categories.assortment'
        selection="goods.selection.assortment")
        .bss-container: bootstrap-select(simple multiple
        title='{{_INT("Цвета")}}'
        data='goods.categories.colors'
        selection="goods.selection.colors")
        .bss-container: bootstrap-select(simple multiple
        title='{{_INT("Сюжеты");}}'
        data='goods.categories.plots'
        selection="goods.selection.plots")
        .bss-container: bootstrap-select(simple multiple
        title='{{_INT("Страны");}}'
        data='goods.categories.countries'
        selection="goods.selection.countries")
    .col-xs-12
        include _goods-paginator

        ul.goods-list.clearfix
            li.sg-layout.col-lg-3.col-md-4.col-sm-4.col-xs-6.col-xxs-12(current-page="goods.currentPage"
            dir-paginate="good in goods.filtered = (goods.list) |\
                        itemsPerPage: goods.currentItemsPerPage")
                //- ng-click needed if clicking same good after modal close
                .good-block
                    img(ng-src='{{ goods.getImgUrl(good) }}')
                    .glass-block
                        a.good-expand(href='{{"#/goods?ref=" + good.reference}}' ng-click='goods.openModal()')
                            i.fa.fa-expand
                        .sg-blick(random='5')
                    .good-reference {{_INT("Арт."); }} {{ _.padLeft(good.reference, 5, "0") }}

        include _goods-paginator