.sg-l2-wrapper.row
    br
    .col-xs-1.reset-column
        .reset-button: i.fa.fa-remove(ng-click='goods.resetFilters()')
    .col-xs-11.goods-filters
        .bss-container: select(bootstrap-select
        multiple
        title='{{_INT("Товар");}}'
        options='goods.categories.assortment'
        selection="goods.selection.assortment"
        change-callback='goods.selectionChanged()')
        .bss-container: select(bootstrap-select
        simple multiple
        title='{{_INT("Цвета")}}'
        options='goods.categories.colors'
        selection="goods.selection.colors"
        change-callback='goods.selectionChanged()')
        .bss-container: select(bootstrap-select
        simple multiple
        title='{{_INT("Сюжеты");}}'
        options='goods.categories.plots'
        selection="goods.selection.plots"
        change-callback='goods.selectionChanged()')
        .bss-container: select(bootstrap-select
        simple multiple
        title='{{_INT("Страны");}}'
        options='goods.categories.countries'
        selection="goods.selection.countries"
        change-callback='goods.selectionChanged()')
    .col-xs-12
        include _goods-paginator-onepage
        include _goods-paginator

        ul.goods-list.clearfix
            li.sg-layout.col-lg-3.col-md-4.col-sm-4.col-xs-6.col-xxs-12(current-page="goods.currentPage"
            dir-paginate="good in goods.filtered = (goods.list) |\
                        itemsPerPage: goods.currentItemsPerPage")
                //- ng-click needed if clicking same good after modal close
                .good-block
                    .sg-gif-player(static='{{ goods.getThumbStatic(good) }}' anim='{{ goods.getThumbAnim(good) }}')
                    .glass-block
                        a.good-expand(href='{{"#/goods?ref=" + good.reference}}' ng-click='goods.openModal()')
                            i.fa.fa-expand
                        .sg-blick(random='5')
                    .good-reference {{_INT("Арт."); }} {{ _.padLeft(good.reference, 5, "0") }}

        include _goods-paginator