.modal-header
    button.close(type="button"
    data-dismiss="modal"
    aria-hidden="true"
    ng-click="vm.cancel();")
        i.fa.fa-remove
    h5.modal-title Редактирование макета

.modal-body: form(name='editUser')
    .form-group
        label.control-label.small Название
        input.form-control(ng-required="", autofocus, ng-model="vm.layout.name")
    .form-group
        label.control-label.small Товары
        select.form-control(ng-required=""
        bootstrap-select multiple
        options='vm.categories.assortment'
        selection="vm.layout.catAssortment")
    .form-group
        label.control-label.small Цвета
        select.form-control(bootstrap-select
        ng-required=""
        simple multiple
        options='vm.categories.colors'
        selection="vm.layout.catColors")
    .form-group
        label.control-label.small Сюжеты
        select.form-control(bootstrap-select
        ng-required=""
        simple multiple
        options='vm.categories.plots'
        selection="vm.layout.catPlots")
    .form-group
        label.control-label.small Страны
        select.form-control(bootstrap-select
        ng-required=""
        simple multiple
        options='vm.categories.countries'
        selection="vm.layout.catCountries")

.modal-footer
    .center-block
        .col-xs-2
        button.btn.btn-danger.col-xs-4(ng-click="vm.ok()") OК
        button.btn.btn-primary.col-xs-4(ng-click="vm.cancel()") Отмена