.modal-header
    .text-center Сброс пароля

.modal-body: .row: form(ng-submit='vm.resetPassword()' name='ResetForm' novalidate)
    .col-xs-12
        .controls
            p.small Новый пароль
    .col-xs-12: .input-group(ng-class="{ 'has-error' : ResetForm.password.$invalid && !ResetForm.password.$pristine }")
        span.input-group-addon: i.fa.fa-key
        input.form-control(type='password' name='password'
        ng-model='vm.password' required autofocus
        ng-minlength='6' ng-maxlength='32' autocomplete='false'
        popover="{{(ResetForm.password.$invalid) ? 'Допустимая длина от 6-32 символа' : ''}}")
    .col-xs-12
        br
        .controls
            p.small Подтверждение пароля
        .input-group(ng-class="{ 'has-error' : ResetForm.confirm.$invalid && !ResetForm.confirm.$pristine }")
            span.input-group-addon: i.fa.fa-key
            input#password_fake.hidden(type='password' name='password' autocomplete='off' style='display:hidden')
            input.form-control(ng-model='vm.confirm' type='password' name='confirm'
            required
            ui-validate=" '$value === vm.password' " ui-validate-watch=" 'vm.password' "
            popover="{{(ResetForm.confirm.$invalid) ? 'Пароли не совпадают!' : ''}}"
            popover-placement='bottom')
    .col-xs-12
        br
        button.form-control.btn.btn-primary(type='submit'
        ng-disabled='ResetForm.$invalid') Изменить пароль