header(ng-show='main.loader.isSuccessful')
    #wrapper-header.container-fluid.clearfix
        #container-logo(ng-click='main.switchPage("main")')
            #logo-blicker(sg-blick random='5' interval='15')
            img#logo-upper(src='img/logo-upper.png' alt="Stereo.Glass logo")
            img#logo-words(src="img/logo-words-glowed.png" alt="design the motion")
        .navwrapper
            nav
                ul.menu-pages
                    li(ng-class='{"nav-selected": main.settings.currentPage == "about"}'
                    ng-click='main.switchPage("about")')
                        a(sg-blick random='3' ng-bind='_INT("Подробно");')
                    li(sg-blick random='3' ng-class='{"nav-selected": main.settings.currentPage == "goods"}'
                    ng-click='main.switchPage("goods")')
                        a(ng-bind='_INT("Наш товар");')
                    li(sg-blick random='3' ng-class='{"nav-selected": main.settings.currentPage == "dealers"}'
                    ng-click='main.switchPage("dealers")')
                        a(ng-bind='_INT("Дилерам");')
                    li(sg-blick random='3' ng-class='{"nav-selected": main.settings.currentPage == "contacts"}'
                    ng-click='main.switchPage("contacts")')
                        a(sg-blick ng-bind='_INT("Контакты");')
                    li
                        a#flag-container(sg-blick random='3')
                            img(ng-src="{{ 'img/flags/' + main.INT.currentLang + '.png' }}")
                            span(ng-bind='main.INT.currentLang')
                sg-lang-switcher
        #wrapper-nav-buttons
            button#login-button.sg-btn(ng-if="!main.currentUser.name"
            ng-bind='_INT("Войти");' ng-click="main.signInRegister()")
                i.fa.fa-sign-in
            button#admin-button.sg-btn(ng-if="main.currentUser.name")
                a(href='/admin')
                    | {{ main.currentUser.name }}
                    i.fa.fa-user
            form(name="search" action="#" method="get")
                input#search-input(type="text" name="q" placeholder="{{ _INT('Поиск...'); }}")
                i.fa.fa-search
    #wrapper-menu-product.container-fluid(ng-if='main.settings.currentPage == "goods"')
        ul#menu-product
            li.prod-selected: a(sg-blick ng-bind='_INT("Плитка");')
            li: a(sg-blick random='3' ng-bind='_INT("Панно");')
            li: a(sg-blick random='3' ng-bind='_INT("Часы");')
            li: a(sg-blick random='3' ng-bind='_INT("Рекламная продукция");')
            li: a(sg-blick random='3' ng-bind='_INT("Подносы");')
            li: a(sg-blick random='3' ng-bind='_INT("Светильники");')