doctype html
html(lang="en" ng-app="MainPage" ng-controller="HeaderCtrl as header")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=Edge')
        meta#Viewport(name='viewport'
        content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
        title Stereo.Glass
        script
            | (function(i){var e=/iPhone/i,n=/iPod/i,o=/iPad/i,t=/(?=.*\bAndroid\b)(?=.*\bMobile\b)/i,r=/Android/i,d=/BlackBerry/i,s=/Opera Mini/i,a=/IEMobile/i,b=/(?=.*\bFirefox\b)(?=.*\bMobile\b)/i,h=RegExp("(?:Nexus 7|BNTV250|Kindle Fire|Silk|GT-P1000)","i"),c=function(i,e){return i.test(e)},l=function(i){var l=i||navigator.userAgent;this.apple={phone:c(e,l),ipod:c(n,l),tablet:c(o,l),device:c(e,l)||c(n,l)||c(o,l)},this.android={phone:c(t,l),tablet:!c(t,l)&&c(r,l),device:c(t,l)||c(r,l)},this.other={blackberry:c(d,l),opera:c(s,l),windows:c(a,l),firefox:c(b,l),device:c(d,l)||c(s,l)||c(a,l)||c(b,l)},this.seven_inch=c(h,l),this.any=this.apple.device||this.android.device||this.other.device||this.seven_inch},v=i.isMobile=new l;v.Class=l})(window);
        include ../builddate
        link(href='https://fonts.googleapis.com/css?family=Scada&subset=latin,cyrillic' rel='stylesheet' type='text/css')
        link(rel='stylesheet' href='../stylesheets/vendor-main.min.css?#{builddate}')
        link(rel='stylesheet' href='../stylesheets/custom-main.min.css?#{builddate}')
        script(src='../scripts/vendor-main.min.js?#{builddate}')
        script(src='../scripts/custom-main.min.js?#{builddate}')

    body(sg-scroller)
        block content
