.fa.fa-2x.fa-comment.sg-silver-i.text-center(ng-if="layout.designerComment && paginator.$index !== $index"
style="position: absolute; right: 0px;")
.sg-layout-block(ng-class='{"selected" : paginator.$index === $index}'
popover="{{ layout.designerComment }}" popover-trigger="focus" tabindex="{{$index}}")
    img(ng-src='{{ paginator.getThumbUrl(layout) }}'
    ng-click="paginator.handleLayoutClick($index)"
    ng-dblclick="paginator.showInGallery()"
    hm-swipeup="paginator.showInGallery()"
    ng-class='paginator.getThumbClass(layout)')
    sg-rating.text-center(linked-object='layout' ng-show='paginator.filters.currentRating.mode === "byLayout"')
    .text-center(ng-show='paginator.filters.currentRating.mode === "byRater"'
    style='font-size: 20px')
        i.glyphicon.glyphicon-star.sg-gold-i
        | {{ layout.compareValue }}
    .sg-layoutname.text-center(ng-if='paginator.viewMode === "Rating"') {{ layout.name }}
    .sg-layoutname.text-center(ng-if='paginator.viewMode === "Progress"') {{ "арт. " + _.padLeft(layout.reference, 5, '0') }}