//-
//- Layout itself
//-
.sg-layout-block-outer(ng-class='{"selected" : gallery.pager.$index === $index}'
ns-popover="{{ layout.comments.length > 0 }}"
ns-popover-trigger="click"
ns-popover-placement="top|center"
ns-popover-template="/templates/popover/layoutComments"
ng-style='gallery.getAuthorBorderColor(layout)')
    .sg-layout-block-inner(ns-popover
    ns-popover-trigger="click"
    ns-popover-placement="bottom|center"
    ns-popover-template="/templates/popover/layoutInfo"
    ng-style="gallery.getAssigneeBorderColor(layout)")
        img(ng-src='{{ gallery.getThumbUrl(layout, gallery.viewMode, gallery.pager.$index === $index) }}'
        ng-click="gallery.handleLayoutClick($index)"
        ng-dblclick="gallery.openCarousel($index)"
        hm-swipeup="gallery.openCarousel($index)")
        sg-rating.text-center(linked-object='layout'
        ng-show='gallery.filters.current[gallery.viewMode].subType !== "byRater"')
        .text-center(ng-show='gallery.filters.current[gallery.viewMode].subType === "byRater"'
        style='font-size: 20px')
            i.glyphicon.glyphicon-star.sg-gold-i
            | {{ layout.compareValue }} / {{ layout.ratings.length }}
        .sg-layoutname.text-center(ng-show='gallery.viewMode === "Rating"') {{ layout.name }}
        .sg-layoutname.text-center(ng-show='_.contains(["Progress", "Ready", "Shop"], gallery.viewMode)') {{ "арт. " + _.padLeft(layout.reference, 5, '0') }}