//- Client filters
.col-xs-5
    .col-xs-6: .input-group
        span.input-group-addon(ng-click='paginator.resetSearch()')
            i.fa.fa-search
        input.form-control(ng-model='paginator.search.string' ng-change='paginator.search.update()'
        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }")
    .col-xs-6: .input-group
        span.input-group-addon(ng-click='paginator.resetDateRange()')
            i.fa.fa-calendar
        input.form-control(date-range-picker, type="text",
        ng-model='paginator.dateRange', options='paginator.dateRangeOptions')
.col-xs-7
    .form-horizontal
        .form-group
            | Показать &nbsp;
            //- first order filter (depends on viewMode)
            select.form-control.sg-select-inline(ng-model="paginator.filters.current[paginator.viewMode]"
            ng-options="opt.name for opt in paginator.filters[paginator.viewMode]")
            | &nbsp;&nbsp;

            //- second order rater filter
            select.form-control.sg-select-inline(ng-model="paginator.filters.current.rater"
            ng-options="opt.rater for opt in paginator.filters.raters"
            ng-if='paginator.filters.current[paginator.viewMode].subType === "byRater"'
            ng-change='paginator.filters.current[paginator.viewMode].value = paginator.filters.current.rater.value')

            //- second order author filter
            select.form-control.sg-select-inline(ng-model="paginator.filters.current.author"
            ng-options="opt.author for opt in paginator.filters.authors"
            ng-if='paginator.filters.current[paginator.viewMode].subType === "byAuthor"'
            ng-change='paginator.filters.current[paginator.viewMode].value = paginator.filters.current.author.value')

            //- second order commenter filter
            select.form-control.sg-select-inline(ng-model="paginator.filters.current.commenter"
            ng-options="opt.commenter for opt in paginator.filters.commenters"
            ng-if='paginator.filters.current[paginator.viewMode].subType === "byCommenter"'
            ng-change='paginator.filters.current[paginator.viewMode].value = paginator.filters.current.commenter.value')

            //- second order assignee filter
            select.form-control.sg-select-inline(ng-model="paginator.filters.current.assignee"
            ng-options="opt.assignee for opt in paginator.filters.assignees"
            ng-if='paginator.filters.current[paginator.viewMode].subType === "byAssignee"'
            ng-change='paginator.filters.current[paginator.viewMode].value = paginator.filters.current.assignee.value')
