.col-xs-4: .form-horizontal
    .form-group
        label.col-xs-6.control-label(ng-click="paginator.reset('colors')") Цвета
        select.selectpicker(multiple data-width='50%'
        data-none-selected-text="Все" bs-select html-content='paginator.colors' selection='paginator.filters.server.colors' exec-on-change='paginator.refreshData()')
    .form-group
        label.col-xs-6.control-label(ng-click="paginator.reset('assortment')") Ассортимент
        select.selectpicker(multiple data-selectable-optgroup data-width='50%'
        data-none-selected-text="Весь" bs-select html-content='paginator.assortment' selection='paginator.filters.server.colors' exec-on-change='paginator.refreshData()')
.col-xs-4: .form-horizontal    
    .form-group
        label.col-xs-6.control-label(ng-click="paginator.reset('plots')") Сюжеты
        select.selectpicker(multiple data-selectable-optgroup data-width='50%'
        data-none-selected-text="Все" bs-select html-content='paginator.plots' selection='paginator.filters.server.plots' exec-on-change='paginator.refreshData()')
    .form-group
        label.col-xs-6.control-label(ng-click="paginator.reset('countries')") Страны
        select.selectpicker(multiple data-selectable-optgroup data-width='50%'
        data-none-selected-text="Международный" bs-select html-content='paginator.countries' selection='paginator.filters.server.countries' exec-on-change='paginator.refreshData()')
.col-xs-4: .form-horizontal
    .form-group
        label.col-xs-6.control-label(ng-click="paginator.reset('authors')") Авторы
        select.selectpicker(multiple data-width='50%'
        data-none-selected-text="Все" bs-select content='paginator.authors' selection='paginator.filters.server.authors' exec-on-change='paginator.refreshData()')


