.form-group.col-xs-3
    label.col-xs-4.control-label(ng-click="paginator.reset('colors')"
    style='text-align: right; margin-top: 6px') Цвета
    select.form-control(multiple data-none-selected-text="Все" data-width='65%'
    bs-select html-content='paginator.colors' selection='paginator.filters.server.colors' exec-on-change='paginator.refreshData()')
.form-group.col-xs-3
    label.col-xs-4.control-label(ng-click="paginator.reset('assortment')"
    style='text-align: right; margin-top: 6px') Товар
    select.selectpicker(multiple data-selectable-optgroup data-width='65%'
    data-none-selected-text="Весь" bs-select html-content='paginator.assortment' selection='paginator.filters.server.assortment' exec-on-change='paginator.refreshData()')
.form-group.col-xs-3
    label.col-xs-4.control-label(ng-click="paginator.reset('plots')"
    style='text-align: right; margin-top: 6px') Сюжеты
    select.selectpicker(multiple data-selectable-optgroup data-width='65%'
    data-none-selected-text="Все" bs-select html-content='paginator.plots' selection='paginator.filters.server.plots' exec-on-change='paginator.refreshData()')
.form-group.col-xs-3
    label.col-xs-4.control-label(ng-click="paginator.reset('countries')"
    style='text-align: right; margin-top: 6px') Страны
    select.selectpicker(multiple data-selectable-optgroup data-width='65%'
    data-none-selected-text="Все" bs-select html-content='paginator.countries' selection='paginator.filters.server.countries' exec-on-change='paginator.refreshData()')
