.sg-l2-wrapper
    .sg-contacts-main-body.sg-glass-background
        .content
            table.contacts
                tr.office-row
                    td
                        b(ng-bind='_INT("Головной офис");')
                    td: p
                        b “StereoGlass” UAB
                        br
                        i.fa.fa-home &nbsp;
                        | {{ _INT("LT-91184, Литва, Клайпеда, пр. Тайкос, 52C - 1203"); }}
                        br
                        i.fa.fa-phone &nbsp;
                        | +37 046 30 21 10
                        br
                        i.fa.fa-envelope &nbsp;
                        a(href='mailto:lt@stereo.glass?subject=Mail from Our Site') lt@stereo.glass
                    td.map
                        i.fa.fa-2x.fa-map-marker(ng-click='contacts.openMap(contacts.latvia.map)')
                    td
                        sg-digital-calendar(office='contacts.latvia')
                        sg-digital-clock(timezone='Europe/Riga'
                        on-timer-click='contacts.check("latvia")'
                        is-open='contacts.latvia.isOpen' title='contacts.latvia.title')
                tr.office-row
                    td
                        b(ng-bind='_INT("Фабрика в КНР");')
                    td: p
                        b(ng-bind='_INT("Zhangjiagang “Stereo Glass” Craftworks Co., LTD");')
                        br
                        i.fa.fa-home &nbsp;
                        | {{ _INT("КНР,  Провинция Цзянсу, г. Чжанцзяган, ул. Зыцзин 25, промышленный район Ван Си, Индустриальный парк 3"); }}
                        br
                        i.fa.fa-phone &nbsp;
                        | +86 186 94 93 77 76
                        br
                        i.fa.fa-envelope &nbsp;
                        a(href='mailto:cn@stereo.glass?subject=Mail from Our Site') cn@stereo.glass

                    td.map
                        i.fa.fa-2x.fa-map-marker(ng-click='contacts.openMap(contacts.china.map)')
                    td
                        sg-digital-calendar(office='contacts.china')
                        sg-digital-clock(timezone='Asia/Shanghai'
                        on-timer-click='contacts.check("china")'
                        is-open='contacts.china.isOpen' title='contacts.china.title')
                tr.office-row
                    td
                        b(ng-bind='_INT("Представительство в России");')
                    td: p
                        b(ng-bind='_INT("ООО «СтереоСтекло»");')
                        br
                        i.fa.fa-home &nbsp;
                        | {{ _INT("197110, Россия, Санкт-Петербург, наб. Мартынова, 92, офис 2.3"); }}
                        br
                        i.fa.fa-phone &nbsp;
                        | +7 812 426 74 00
                        br
                        i.fa.fa-envelope &nbsp;
                        a(href='mailto:ru@stereo.glass?subject=Mail from Our Site') ru@stereo.glass

                    td.map
                        i.fa.fa-2x.fa-map-marker(ng-click='contacts.openMap(contacts.russia.map)')
                    td
                        sg-digital-calendar(office='contacts.russia')
                        sg-digital-clock(timezone='Europe/Moscow'
                        on-timer-click='contacts.check("russia")'
                        is-open='contacts.russia.isOpen' title='contacts.russia.title')
                tr.office-row
                    td
                        b(ng-bind='_INT("Представительство в Украине");')
                    td: p
                        b(ng-bind='_INT("ООО «3Д-Антей»");')
                        br
                        i.fa.fa-home &nbsp;
                        | {{ _INT("49101, Украина, Днепропетровск, ул. Володарского, 15"); }}
                        br
                        i.fa.fa-phone &nbsp;
                        | &nbsp;
                        br
                        i.fa.fa-envelope &nbsp;
                        a(href='mailto:ua@stereo.glass?subject=Mail from Our Site') ua@stereo.glass

                    td.map
                        i.fa.fa-2x.fa-map-marker(ng-click='contacts.openMap(contacts.ukraine.map)')
                    td
                        sg-digital-calendar(office='contacts.ukraine')
                        sg-digital-clock(timezone='Europe/Kiev'
                        on-timer-click='contacts.check("ukraine")'
                        is-open='contacts.ukraine.isOpen' title='contacts.ukraine.title')
            br
            .text-center(ng-bind='_INT("Убедительная просьба звонить на контактные телефоны только в рабочее время с 9:00 до 18:00, кроме субботы, воскресенья.");')
            .clearfix